*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-teal-500: hsl(179, 62%, 43%);
  --color-green-400: rgb(192, 223, 52);
  --color-teal-100: hsl(204, 43%, 93%);
  --color-teal-400: rgb(74, 191, 189);
  --color-gray-500: hsl(218, 22%, 67%);
  --color-white: hsl(0, 0%, 100%);
}

body {
  font-family: "Karla", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-teal-100);
  padding: 1.5rem;
}

.component {
  width: 100%;
  max-width: 19.438rem;
  box-shadow: 0px 15px 20px 0px hsla(212, 100%, 34%, 0.15);
  border-radius: 8px;
}

.component__heading {
  padding: 2.125rem 2.3rem;
  background-color: var(--color-white);
  border-radius: 8px 8px 0 0;
}

.component__heading-title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -0.25px;
  color: var(--color-teal-500);
}

.component__heading-subtitle {
  margin-top: 1.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -0.25px;
  color: var(--color-green-400);
}

.component__heading-description {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.65;
  letter-spacing: -0.5px;
  color: var(--color-gray-500);
}

.component__data {
  display: flex;
  flex-direction: column;
}

.component__price {
  padding: 1.5rem 2.3rem;
  background-color: var(--color-teal-500);
  color: var(--color-white);
}

.component__price-title {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -0.25px;
}

.component__price-info {
  margin-top: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.component__price-amount {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -0.4px;
}

.component__price-type {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.65;
  letter-spacing: -0.5px;
  color: hsla(0, 0%, 100%, 0.75);
}

.component__price-description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.65;
  letter-spacing: -0.5px;
}

.component__price-btn {
  margin-top: 1.813rem;
  display: block;
  width: 100%;
  padding: 0.77rem;
  background-color: var(--color-green-400);
  color: var(--color-white);
  border: 2px solid var(--color-green-400);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.45;
  letter-spacing: -0.25px;
  box-shadow: 0px 10px 10px 0px hsla(0, 0%, 0%, 0.1);
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
}

.component__price-btn:hover,
.component__price:focus-visible {
  transform: scale(1.02);
}

.component__features {
  padding: 1.5rem 2.25rem;
  background-color: var(--color-teal-400);
  border-radius: 0 0 8px 8px;
  color: var(--color-white);
}

.component__features-title {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -0.25px;
}

.component__features-list {
  margin-top: 1rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.45;
  color: hsla(0, 0%, 100%, 0.75);
  list-style: none;
  padding: 0;
}

/* ------ TABLET ------- */

@media (min-width: 650px) {
  .component {
    max-width: 39.688rem;
    box-shadow: 0px 15px 30px 0px hsla(212, 100%, 34%, 0.15);
  }

  .component__heading {
    padding: 2.5rem 2.5rem 2.688rem 2.5rem;
  }

  .component__data {
    flex-direction: row;
  }

  .component__price {
    flex: 1;
    padding: 2.563rem 2.5rem;
    border-radius: 0 0 0 8px;
  }

  .component__features {
    flex: 1;
    padding: 2.563rem 2.5rem;
    border-radius: 0 0 8px 0;
  }
}
